@import "asimov/core";

$default: (
    foo: (
        bar: (
            bat: "boom",
            baz: "boo",
        ),
    ),
);

@function assert($condition) {
    @return if($condition, true, false);
}


// ==========================================================================
// Internal API
// ==========================================================================

$map: (
    "base": "red",
    "foo": "bar",
    "bar": "baz",

    "one": (
        "base": "eno",
        "bar": "baz",
        "bar-bell": "bazzab",

        "baz": (
            "base": "blue",
            "boo": "bam",
            "boo-who": "bammab"
        )
    ),

    "one-time": (
        "base": "eno",
        "bar": "baz",
        "bar-bell": "bazzab",

        "baz": (
            "base": "blue",
            "boo": "bam",
            "boo-who": "bammab"
        )
    )
);


basic {
    $data: get-component-map("map", $map, false);

    base: lookup($data, "base");
    foo: lookup($data, "foo");
    bar: lookup($data, "bar");

}

basic--flat {
    $data: get-component-map("map", $map, true);

    base: lookup($data, "base");
    foo: lookup($data, "foo");
    bar: lookup($data, "bar");
    one: lookup($data, "one");

    one\/base: lookup($data, "one/base");
    one\/bar: lookup($data, "one/bar");
    one\/bar-bell: lookup($data, "one/bar-bell");

    one\/baz: lookup($data, "one/baz");
    one\/baz\/base: lookup($data, "one/baz/base");
    one\/baz\/boo: lookup($data, "one/baz/boo");
    one\/baz\/boo-who: lookup($data, "one/baz/boo-who");
}


// ==========================================================================
// Settings API
// ==========================================================================

settings-get {
    $settings: $default !global;

    set-new: assert(get("foo/bar/baz") == "boo");
}

settings-set {
    $settings: $default !global;

    $set: set("foo/bar/bam", "test");
    set-new: assert(get("foo/bar/bam") == "test");

    $set: set("foo/bar/baz", "test");
    update: assert(get("foo/bar/baz") == "test");

    $set: set("foo/bar/bam", null);
    remove: assert(get("foo/bar/bam") == null);

    not-clobbered: assert(
        get("foo/bar/bat") == "boom" and
        get("foo/bar/baz") == "test" and
        get("foo/bar/bam") == null
    );

    $set: set("does/not/exists", "woot");
    create-root: assert(get("does/not/exists") == "woot");
}

settings-set-map {
    $settings: $default !global;

    $tmp: set((
        foo: (
            bar: (
                bat: "woop",
                door: "more"
            ),
            floor: (
                chore: "lore"
            ),
            who: "you?"
        ),
        this: (
            is: (
                new: "you!",
                who: "me?"
            )
        )
    )) !global;

    set-map: assert(
        get("foo/bar/baz") == "boo" and
        get("foo/bar/bat") == "woop" and
        get("foo/bar/door") == "more" and
        get("foo/floor/chore") == "lore" and
        get("foo/who") == "you?" and
        get("this/is/new") == "you!" and
        get("this/is/who") == "me?"
    );
}

settings-set-default {
    $settings: $default !global;

    $set: set-default("foo/bar/bam", "test");
    set-new: assert(get("foo/bar/bam") == "test");

    $set: set-default("foo/bar/baz", "test");
    cant-update: assert(get("foo/bar/baz") == "boo");

    $set: set-default("foo/bar/bam", null);
    cant-remove: assert(get("foo/bar/bam") == "test");

    not-clobbered: assert(
        get("foo/bar/bat") == "boom" and
        get("foo/bar/baz") == "boo" and
        get("foo/bar/bam") == "test"
    );
}

settings-set-default-map {
    $settings: $default !global;

    $tmp: set-default((
        foo: (
            bar: (
                bat: "woop",
                door: "more"
            ),
            floor: (
                chore: "lore"
            ),
            who: "you?"
        ),
        this: (
            is: (
                new: "you!",
                who: "me?"
            )
        )
    )) !global;

    set-map: assert(
        get("foo/bar/baz") == "boo" and
        get("foo/bar/bat") == "boom" and
        get("foo/bar/door") == "more" and
        get("foo/floor/chore") == "lore" and
        get("foo/who") == "you?" and
        get("this/is/new") == "you!" and
        get("this/is/who") == "me?"
    );
}
