@import "asimov/asimov";

$default: ();
$settings: ();

@function assert($condition) {
    @return if($condition, true, false);
}


// ==========================================================================
// Settings API
// ==========================================================================

$default: (
    foo: (
        bar: (
            bat: "boom",
            baz: "boo",
        ),
    ),
) !global;

settings-get {
    $settings: () !global;
    $settings: set($default) !global;

    get-scalar: assert(get("foo/bar/baz") == "boo");
    get-map: assert(get("foo/bar") == (
        bat: "boom",
        baz: "boo",
    ));
}

settings-set {
    $settings: () !global;
    $settings: set($default) !global;

    $set: set("foo/bar/bam", "test");
    set-new: assert(get("foo/bar/bam") == "test");

    $set: set("foo/bar/baz", "test");
    update: assert(get("foo/bar/baz") == "test");

    $set: set("foo/bar/bam", null);
    remove: assert(get("foo/bar/bam") == null);

    not-clobbered: assert(
        get("foo/bar/bat") == "boom" and
        get("foo/bar/baz") == "test" and
        get("foo/bar/bam") == null
    );

    $set: set("does/not/exists", "woot");
    create-root: assert(get("does/not/exists") == "woot");
}

settings-set-map {
    $settings: () !global;
    $settings: set($default) !global;

    $settings: set((
        foo: (
            bar: (
                bat: "woop",
                door: "more"
            ),
            floor: (
                chore: "lore"
            ),
            who: "you?"
        ),
        this: (
            is: (
                new: "you!",
                who: "me?"
            )
        )
    )) !global;

    set-map: assert(
        get("foo/bar/baz") == "boo" and
        get("foo/bar/bat") == "woop" and
        get("foo/bar/door") == "more" and
        get("foo/floor/chore") == "lore" and
        get("foo/who") == "you?" and
        get("this/is/new") == "you!" and
        get("this/is/who") == "me?"
    );
}

settings-set-default {
    $settings: () !global;
    $settings: set($default) !global;

    $set: set-default("foo/bar/bam", "test");
    set-new: assert(get("foo/bar/bam") == "test");

    $set: set-default("foo/bar/baz", "test");
    cant-update: assert(get("foo/bar/baz") == "boo");

    $set: set-default("foo/bar/bam", null);
    cant-remove: assert(get("foo/bar/bam") == "test");

    not-clobbered: assert(
        get("foo/bar/bat") == "boom" and
        get("foo/bar/baz") == "boo" and
        get("foo/bar/bam") == "test"
    );
}

settings-set-default-map {
    $settings: () !global;
    $settings: set($default) !global;

    $settings: set-default((
        foo: (
            bar: (
                bat: "woop",
                door: "more"
            ),
            floor: (
                chore: "lore"
            ),
            who: "you?"
        ),
        this: (
            is: (
                new: "you!",
                who: "me?"
            )
        )
    )) !global;

    set-map: assert(
        get("foo/bar/baz") == "boo" and
        get("foo/bar/bat") == "boom" and
        get("foo/bar/door") == "more" and
        get("foo/floor/chore") == "lore" and
        get("foo/who") == "you?" and
        get("this/is/new") == "you!" and
        get("this/is/who") == "me?"
    );
}


// ==========================================================================
// Colors API
// ==========================================================================

$default: (
    asimov: (
        colors: (
            primary: red,
            secondary: #0f0,
        ),
    ),
) !global;

colors-get {
    $settings: () !global;
    $settings: set($default) !global;

    get-primary: assert(get("asimov/colors/primary") == red);
    get-color-primary: assert(get-color("primary") == red);
    get-secondary: assert(get("asimov/colors/secondary") == #0f0);
    get-color-secondary: assert(get-color("secondary") == #0f0);
}

colors-set {
    $settings: () !global;
    $settings: set($default) !global;

    get-tertiary: assert(get("asimov/colors/tertiary") == null);
    get-color-tertiary: assert(get-color("tertiary") == null);

    set-color-tertiary: assert(set-color("tertiary", #00f) == #00f);

    get-tertiary-after-set: assert(get("asimov/colors/tertiary") == #00f);
    get-color-tertiary-after-set: assert(get-color("tertiary") == #00f);
}

colors-set-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/colors/secondary") == #0f0);
    get-color-secondary: assert(get-color("secondary") == #0f0);
    get-tertiary: assert(get("asimov/colors/tertiary") == null);
    get-color-tertiary: assert(get-color("tertiary") == null);

    set-color-tertiary: assert(set-colors((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    )) == $ret);

    get-secondary-after-set: assert(get("asimov/colors/secondary") == (11em 15em));
    get-color-secondary-after-set: assert(get-color("secondary") == (11em 15em));
    get-tertiary-after-set: assert(get("asimov/colors/tertiary") == 16em);
    get-color-tertiary-after-set: assert(get-color("tertiary") == 16em);
}

colors-set-default-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: #0f0,
        tertiary: 16em,
        primary: red,
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/colors/secondary") == #0f0);
    get-color-secondary: assert(get-color("secondary") == #0f0);
    get-tertiary: assert(get("asimov/colors/tertiary") == null);
    get-color-tertiary: assert(get-color("tertiary") == null);

    set-color-tertiary: assert(set-colors((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    ), $default:true) == $ret);


    get-secondary-after-set: assert(get("asimov/colors/secondary") == #0f0);
    get-color-secondary-after-set: assert(get-color("secondary") == #0f0);
    get-tertiary-after-set: assert(get("asimov/colors/tertiary") == 16em);
    get-color-tertiary-after-set: assert(get-color("tertiary") == 16em);
}


// ==========================================================================
// Spacing API
// ==========================================================================

$default: (
    asimov: (
        spacings: (
            primary: 10px,
            secondary: 2em,
        ),
    ),
) !global;

spacings-get {
    $settings: () !global;
    $settings: set($default) !global;

    get-primary: assert(get("asimov/spacings/primary") == 10px);
    get-spacing-primary: assert(get-spacing("primary") == 10px);
    get-secondary: assert(get("asimov/spacings/secondary") == 2em);
    get-spacing-secondary: assert(get-spacing("secondary") == 2em);
}

spacings-set {
    $settings: () !global;
    $settings: set($default) !global;

    get-tertiary: assert(get("asimov/spacings/tertiary") == null);
    get-spacing-tertiary: assert(get-spacing("tertiary") == null);

    set-spacing-tertiary: assert(set-spacing("tertiary", 3%) == 3%);

    get-tertiary-after-set: assert(get("asimov/spacings/tertiary") == 3%);
    get-spacing-tertiary-after-set: assert(get-spacing("tertiary") == 3%);
}

spacings-set-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/spacings/secondary") == 2em);
    get-spacing-secondary: assert(get-spacing("secondary") == 2em);
    get-tertiary: assert(get("asimov/spacings/tertiary") == null);
    get-spacing-tertiary: assert(get-spacing("tertiary") == null);

    set-spacing-tertiary: assert(set-spacings((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    )) == $ret);

    get-secondary-after-set: assert(get("asimov/spacings/secondary") == (11em 15em));
    get-spacing-secondary-after-set: assert(get-spacing("secondary") == (11em 15em));
    get-tertiary-after-set: assert(get("asimov/spacings/tertiary") == 16em);
    get-spacing-tertiary-after-set: assert(get-spacing("tertiary") == 16em);
}

spacings-set-default-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: 2em,
        tertiary: 16em,
        primary: 10px,
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/spacings/secondary") == 2em);
    get-spacing-secondary: assert(get-spacing("secondary") == 2em);
    get-tertiary: assert(get("asimov/spacings/tertiary") == null);
    get-spacing-tertiary: assert(get-spacing("tertiary") == null);

    set-spacing-tertiary: assert(set-spacings((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    ), $default:true) == $ret);


    get-secondary-after-set: assert(get("asimov/spacings/secondary") == 2em);
    get-spacing-secondary-after-set: assert(get-spacing("secondary") == 2em);
    get-tertiary-after-set: assert(get("asimov/spacings/tertiary") == 16em);
    get-spacing-tertiary-after-set: assert(get-spacing("tertiary") == 16em);
}


// ==========================================================================
// Font API
// ==========================================================================

$default: (
    asimov: (
        font-sizes: (
            primary: 10px,
            secondary: 2em,
        ),
        font-families: (
            primary: ("Times New Roman", Times, serif),
            secondary: "Arial Black",
        ),
    ),
) !global;

font-sizes-get {
    $settings: () !global;
    $settings: set($default) !global;

    get-primary: assert(get("asimov/font-sizes/primary") == 10px);
    get-font-size-primary: assert(get-font-size("primary") == 10px);
    get-secondary: assert(get("asimov/font-sizes/secondary") == 2em);
    get-font-size-secondary: assert(get-font-size("secondary") == 2em);
}

font-sizes-set {
    $settings: () !global;
    $settings: set($default) !global;

    get-tertiary: assert(get("asimov/font-sizes/tertiary") == null);
    get-font-size-tertiary: assert(get-font-size("tertiary") == null);

    set-font-size-tertiary: assert(set-font-size("tertiary", 3%) == 3%);

    get-tertiary-after-set: assert(get("asimov/font-sizes/tertiary") == 3%);
    get-font-size-tertiary-after-set: assert(get-font-size("tertiary") == 3%);
}

font-sizes-set-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/font-sizes/secondary") == 2em);
    get-font-size-secondary: assert(get-font-size("secondary") == 2em);
    get-tertiary: assert(get("asimov/font-sizes/tertiary") == null);
    get-font-size-tertiary: assert(get-font-size("tertiary") == null);

    set-font-size-tertiary: assert(set-font-sizes((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    )) == $ret);

    get-secondary-after-set: assert(get("asimov/font-sizes/secondary") == (11em 15em));
    get-font-size-secondary-after-set: assert(get-font-size("secondary") == (11em 15em));
    get-tertiary-after-set: assert(get("asimov/font-sizes/tertiary") == 16em);
    get-font-size-tertiary-after-set: assert(get-font-size("tertiary") == 16em);
}

font-sizes-set-default-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: 2em,
        tertiary: 16em,
        primary: 10px,
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/font-sizes/secondary") == 2em);
    get-font-size-secondary: assert(get-font-size("secondary") == 2em);
    get-tertiary: assert(get("asimov/font-sizes/tertiary") == null);
    get-font-size-tertiary: assert(get-font-size("tertiary") == null);

    set-font-size-tertiary: assert(set-font-sizes((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    ), $default:true) == $ret);


    get-secondary-after-set: assert(get("asimov/font-sizes/secondary") == 2em);
    get-font-size-secondary-after-set: assert(get-font-size("secondary") == 2em);
    get-tertiary-after-set: assert(get("asimov/font-sizes/tertiary") == 16em);
    get-font-size-tertiary-after-set: assert(get-font-size("tertiary") == 16em);
}

font-families-get {
    $settings: () !global;
    $settings: set($default) !global;

    get-primary: assert(get("asimov/font-families/primary") == ("Times New Roman", Times, serif));
    get-font-family-primary: assert(get-font-family("primary") == ("Times New Roman", Times, serif));
    get-secondary: assert(get("asimov/font-families/secondary") == ("Arial Black"));
    get-font-family-secondary: assert(get-font-family("secondary") == ("Arial Black"));
}

font-families-set {
    $settings: () !global;
    $settings: set($default) !global;

    get-tertiary: assert(get("asimov/font-families/tertiary") == null);
    get-font-family-tertiary: assert(get-font-family("tertiary") == null);

    set-font-family-tertiary: assert(set-font-family("tertiary", (Arial, Helvetica, sans-serif)) == (Arial, Helvetica, sans-serif));

    get-tertiary-after-set: assert(get("asimov/font-families/tertiary") == (Arial, Helvetica, sans-serif));
    get-font-family-tertiary-after-set: assert(get-font-family("tertiary") == (Arial, Helvetica, sans-serif));
}

font-families-set-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/font-families/secondary") == "Arial Black");
    get-font-family-secondary: assert(get-font-family("secondary") == "Arial Black");
    get-tertiary: assert(get("asimov/font-families/tertiary") == null);
    get-font-family-tertiary: assert(get-font-family("tertiary") == null);

    set-font-family-tertiary: assert(set-font-families((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    )) == $ret);

    get-secondary-after-set: assert(get("asimov/font-families/secondary") == (11em 15em));
    get-font-family-secondary-after-set: assert(get-font-family("secondary") == (11em 15em));
    get-tertiary-after-set: assert(get("asimov/font-families/tertiary") == 16em);
    get-font-family-tertiary-after-set: assert(get-font-family("tertiary") == 16em);
}

font-families-set-default-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: "Arial Black",
        tertiary: 16em,
        primary: ("Times New Roman", Times, serif),
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/font-families/secondary") == "Arial Black");
    get-font-family-secondary: assert(get-font-family("secondary") == "Arial Black");
    get-tertiary: assert(get("asimov/font-families/tertiary") == null);
    get-font-family-tertiary: assert(get-font-family("tertiary") == null);

    set-font-family-tertiary: assert(set-font-families((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    ), $default:true) == $ret);


    get-secondary-after-set: assert(get("asimov/font-families/secondary") == "Arial Black");
    get-font-family-secondary-after-set: assert(get-font-family("secondary") == "Arial Black");
    get-tertiary-after-set: assert(get("asimov/font-families/tertiary") == 16em);
    get-font-family-tertiary-after-set: assert(get-font-family("tertiary") == 16em);
}

// ==========================================================================
// Mediaquery API
// ==========================================================================

$default: (
    asimov: (
        breakpoints: (
            primary: (1em 10em),
            secondary: 11em,
        ),
    ),
) !global;

breakpoints-get {
    $settings: () !global;
    $settings: set($default) !global;

    get-primary: assert(get("asimov/breakpoints/primary") == (1em 10em));
    get-breakpoint-primary: assert(get-breakpoint("primary") == (1em 10em));
    get-secondary: assert(get("asimov/breakpoints/secondary") == 11em);
    get-breakpoint-secondary: assert(get-breakpoint("secondary") == 11em);
}

breakpoints-set {
    $settings: () !global;
    $settings: set($default) !global;

    get-tertiary: assert(get("asimov/breakpoints/tertiary") == null);
    get-breakpoint-tertiary: assert(get-breakpoint("tertiary") == null);

    set-breakpoint-tertiary: assert(set-breakpoint("tertiary", 3%) == 3%);

    get-tertiary-after-set: assert(get("asimov/breakpoints/tertiary") == 3%);
    get-breakpoint-tertiary-after-set: assert(get-breakpoint("tertiary") == 3%);
}

breakpoints-set-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/breakpoints/secondary") == 11em);
    get-breakpoint-secondary: assert(get-breakpoint("secondary") == 11em);
    get-tertiary: assert(get("asimov/breakpoints/tertiary") == null);
    get-breakpoint-tertiary: assert(get-breakpoint("tertiary") == null);

    set-breakpoint-tertiary: assert(set-breakpoints((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    )) == $ret);

    get-secondary-after-set: assert(get("asimov/breakpoints/secondary") == (11em 15em));
    get-breakpoint-secondary-after-set: assert(get-breakpoint("secondary") == (11em 15em));
    get-tertiary-after-set: assert(get("asimov/breakpoints/tertiary") == 16em);
    get-breakpoint-tertiary-after-set: assert(get-breakpoint("tertiary") == 16em);
}

breakpoints-set-default-multiple {
    $settings: () !global;
    $settings: set($default) !global;

    $ret: (
        secondary: 11em,
        tertiary: 16em,
        primary: (1em 10em),
        foo: (
            bar: baz,
        ),
    );

    get-secondary: assert(get("asimov/breakpoints/secondary") == 11em);
    get-breakpoint-secondary: assert(get-breakpoint("secondary") == 11em);
    get-tertiary: assert(get("asimov/breakpoints/tertiary") == null);
    get-breakpoint-tertiary: assert(get-breakpoint("tertiary") == null);

    set-breakpoint-tertiary: assert(set-breakpoints((
        secondary: (11em 15em),
        tertiary: 16em,
        foo: (
            bar: baz,
        ),
    ), $default:true) == $ret);


    get-secondary-after-set: assert(get("asimov/breakpoints/secondary") == 11em);
    get-breakpoint-secondary-after-set: assert(get-breakpoint("secondary") == 11em);
    get-tertiary-after-set: assert(get("asimov/breakpoints/tertiary") == 16em);
    get-breakpoint-tertiary-after-set: assert(get-breakpoint("tertiary") == 16em);
}
