@import "asimov/asimov";

// Initialize the core settings map with some sane(?) defaults

$settings: set-default((
    "colors": (
        "primary": hsl(15, 88, 59),
        "primary-darker-1": darken(hsl(15, 88, 59), 5%),
        "primary-darker-2": darken(hsl(15, 88, 59), 10%),
        "primary-darker-3": darken(hsl(15, 88, 59), 15%),
        "primary-lighter-1": lighten(hsl(15, 88, 59), 5%),
        "primary-lighter-2": lighten(hsl(15, 88, 59), 10%),
        "primary-lighter-3": lighten(hsl(15, 88, 59), 15%),
        "secondary": hsl(207, 83, 45),
        "secondary-darker-1": darken(hsl(207, 83, 45), 5%),
        "secondary-darker-2": darken(hsl(207, 83, 45), 10%),
        "secondary-darker-3": darken(hsl(207, 83, 45), 15%),
        "secondary-lighter-1": lighten(hsl(207, 83, 45), 5%),
        "secondary-lighter-2": lighten(hsl(207, 83, 45), 10%),
        "secondary-lighter-3": lighten(hsl(207, 83, 45), 15%),
        "grey": hsl(222, 10, 30),
        "grey-darker-1": darken(hsl(222, 10, 30), 5%),
        "grey-darker-2": darken(hsl(222, 10, 30), 10%),
        "grey-darker-3": darken(hsl(222, 10, 30), 15%),
        "grey-lighter-1": lighten(hsl(222, 10, 30), 6%),
        "grey-lighter-2": lighten(hsl(222, 10, 30), 13%),
        "grey-lighter-3": lighten(hsl(222, 10, 30), 19%),
        "grey-lighter-4": lighten(hsl(222, 10, 30), 26%),
        "grey-lighter-5": lighten(hsl(222, 10, 30), 33%),
        "grey-lighter-6": lighten(hsl(222, 10, 30), 40%),
        "grey-lighter-7": lighten(hsl(222, 10, 30), 46%),
        "grey-lighter-8": lighten(hsl(222, 10, 30), 53%),
        "grey-lighter-9": lighten(hsl(222, 10, 30), 60%),
    ),
    "font-families": (
        "base": ("Helvetica Neue", Helvetica, Arial, sans-serif),
        "monospace": (Monaco, Menlo, Consolas, "Courier New", monospace),
    ),
    "font-sizes": (
        "base": 16px,
        "alpha": 48px,
        "beta": 40px,
        "gamma": 28px,
        "delta": 20px,
        "epsilon": 16px,
        "zeta": 14px,
    ),
    "font-weights": (
        "normal": 400,
        "medium": 500,
        "bold": 700,
    ),
    "line-heights": (
        "base": 1.6,
    ),
    "breakpoints": (
        "small": 0em 40em,
        "medium": 40.063em 64em,
        "large": 64.063em 90em,
        "xlarge": 90.063em 120em,
        "xxlarge": 120.063em
    ),
    "border-radiuses": (
        "base": 3px,
        "round": 6px,
        "very-round": 20px,
        "circle": 200px,
    ),
    "spaces": (
        "small": 10px,
        "medium": 20px,
        "large": 30px,
        "gutter": "spaces/large",
    ),
)) !global;
