basic {
  fetch-base: true;
  fetch-foo: true;
  fetch-bar: true;
}

basic--flat {
  fetch-base: true;
  fetch-foo: true;
  fetch-bar: true;
  fetch-one: true;
  fetch-one\/base: true;
  fetch-one\/bar: true;
  fetch-one\/bar-bell: true;
  fetch-one\/baz: true;
  fetch-one\/baz\/base: true;
  fetch-one\/baz\/boo: true;
  fetch-one\/baz\/boo-who: true;
}

settings-get {
  set-new: true;
}

settings-set {
  set-new: true;
  update: true;
  remove: true;
  not-clobbered: true;
  create-root: true;
}

settings-set-map {
  set-map: true;
}

settings-set-default {
  set-new: true;
  cant-update: true;
  cant-remove: true;
  not-clobbered: true;
}

settings-set-default-map {
  set-map: true;
}

colors-get {
  get-primary: true;
  get-color-primary: true;
  get-secondary: true;
  get-color-secondary: true;
}

colors-set {
  get-tertiary: true;
  get-color-tertiary: true;
  set-color-tertiary: true;
  get-tertiary-after-set: true;
  get-color-tertiary-after-set: true;
}

spacings-get {
  get-primary: true;
  get-spacing-primary: true;
  get-secondary: true;
  get-spacing-secondary: true;
}

spacings-set {
  get-tertiary: true;
  get-spacing-tertiary: true;
  set-spacing-tertiary: true;
  get-tertiary-after-set: true;
  get-spacing-tertiary-after-set: true;
}

font-sizes-get {
  get-primary: true;
  get-font-size-primary: true;
  get-secondary: true;
  get-font-size-secondary: true;
}

font-sizes-set {
  get-tertiary: true;
  get-font-size-tertiary: true;
  set-font-size-tertiary: true;
  get-tertiary-after-set: true;
  get-font-size-tertiary-after-set: true;
}

font-families-get {
  get-primary: true;
  get-font-family-primary: true;
  get-secondary: true;
  get-font-family-secondary: true;
}

font-families-set {
  get-tertiary: true;
  get-font-family-tertiary: true;
  set-font-family-tertiary: true;
  get-tertiary-after-set: true;
  get-font-family-tertiary-after-set: true;
}

breakpoints-get {
  get-primary: true;
  get-breakpoint-primary: true;
  get-secondary: true;
  get-breakpoint-secondary: true;
}

breakpoints-set {
  get-tertiary: true;
  get-breakpoint-tertiary: true;
  set-breakpoint-tertiary: true;
  get-tertiary-after-set: true;
  get-breakpoint-tertiary-after-set: true;
}
