basic {
  foo: "bar";
  bar: "baz";
}

basic--flat {
  base: "red";
  foo: "bar";
  bar: "baz";
  one: "eno";
  one\/base: "eno";
  one\/bar: "baz";
  one\/bar-bell: "bazzab";
  one\/baz: "blue";
  one\/baz\/base: "blue";
  one\/baz\/boo: "bam";
  one\/baz\/boo-who: "bammab";
}
